#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.event-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 1000px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card a {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.event-card a:hover {
  color: #0077cc;
}
